--ifdef no-indent
--patternlet inline
--commas inline
--ranges no-space
--wraparguments after-first
--wrapcollections before-first
--binarygrouping none
--decimalgrouping none
--hexgrouping none
--octalgrouping none
--exclude .build
--header ""
--allman false
--enable blankLinesAtEndOfScope,blankLinesAtStartOfScope,blankLinesBetweenScopes,emptyBraces,isEmpty,redundantBackticks,redundantBreak,redundantExtensionACL,redundantFileprivate,redundantGet,redundantInit,redundantLet,redundantLetError,redundantNilInit,redundantParens,redundantPattern,redundantRawValues,redundantReturn,redundantVoidReturnType,spaceAroundBraces,spaceAroundComments,spaceAroundGenerics,spaceInsideBraces,spaceInsideComments,spaceInsideGenerics,spaceInsideParens,specifiers,todos,typeSugar
